{% extends 'Application/base.html' %}
{% load static %}

{% block content %}
    <main>
        <section class="quries container-fluid">
            <div class="questions">
                <div class="display">
                    <div class="display__screen">
                        {% for q in questions %}
                            <div class="display__screen--box">
                                <p>{{ q.question }}</p>
                                <h5 class="float-right">{{ q.time }}</h5>
                            </div>
                        {% endfor %}
                    </div>
                    <form action="" id="message" class="send" method="POST">
                        {% csrf_token %}
                        <textarea name="msg" id="msg" cols="30" rows="2" placeholder="Type your question"></textarea>
                        {% if user.is_authenticated %}
                            <button type="submit" class="button button--green" style="padding:1.5rem 20%">Submit</button>
                        {% else %}
                            <a href="{% url 'login' %}" class="button button--green" style="padding:1.5rem 20%">Submit</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}