{% extends 'Application/base.html' %}
{% load static %}

{% block content %}
    <main>
        <section class="land container-fluid">
            <div class="land__page">
                <h1>Worried about your future ?</h1>
                <h3>We Guide you to success</h3>
                <button>Join Us</button>
            </div>
            <img src="{% static 'images/future.png' %}" class="land--img" alt="">
        </section>

        <section class="section-tours" id="section-tours">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                    Courses We offer
                </h2>
            </div>

            <div class="row">
                <div class="col-1-of-3">
                   <div class="card">
                       <div class="card__side card__side--front">
                            <div class="card__picture card__picture--1">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--1">Machine Learning</span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>200+ hours</li>
                                    <li>20+ live classes</li>
                                    <li>10+ offline sessions</li>
                                    <li>Course Materials</li>
                                    <li>Certificate</li>
                                </ul>
                            </div>
                       </div>
                       <div class="card__side card__side--back card__side--back-1">
                            <div class="card__cta">
                                <div class="card__price-box">
                                    <p class="card__price-only">Only</p>
                                    <p class="card__price-value">$297</p>
                                </div>
                                <a href="#popup" class="button button--white">Book now!</a>
                            </div>
                        </div>
                   </div>
                </div>


                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--2">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--2">Big Data Analytics</span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>200+ hours</li>
                                    <li>20+ live classes</li>
                                    <li>10+ offline sessions</li>
                                    <li>Course Materials</li>
                                    <li>Certificate</li>
                                </ul>
                            </div>

                        </div>
                        <div class="card__side card__side--back card__side--back-2">
                            <div class="card__cta">
                                <div class="card__price-box">
                                    <p class="card__price-only">Only</p>
                                    <p class="card__price-value">$297</p>
                                </div>
                                <a href="#popup" class="button button--white">Book now!</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--3">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--3">Web development</span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>200+ hours</li>
                                    <li>20+ live classes</li>
                                    <li>10+ offline sessions</li>
                                    <li>Course Materials</li>
                                    <li>Certificate</li>
                                </ul>
                            </div>

                        </div>
                        <div class="card__side card__side--back card__side--back-3">
                            <div class="card__cta">
                                <div class="card__price-box">
                                    <p class="card__price-only">Only</p>
                                    <p class="card__price-value">$297</p>
                                </div>
                                <a href="#popup" class="button button--white">Book now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="u-center-text u-margin-top-huge">
                <a href="#" class="button button--green">Discover all Courses</a>
            </div>
        </section>
    </main>
{% endblock content %}