{% extends 'Application/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="content-section container-fluid">
    <form action="" method="POST">
        {% csrf_token %}
        <h1 style="text-align: center;font-size:5rem;">Do you wan't to buy Big Data Analysis Course ?</h1>
        <div class="border-top pt-3">
            <small class="text-muted">
                <button type="submit" class="btn btn-outline-success float-right" style="font-size: 2rem;" class="ml-2">YES</button>
                <a class='btn btn-outline-info float-right mr-5' style="font-size: 2rem;" href="{% url 'home' %}">No</a>
            </small>
        </div>
    </form>
</div>

{% endblock content %}