*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 75%; } }

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  backface-visibility: hidden; }

body {
  box-sizing: border-box; }

.content-section {
  height: 100vh;
  display: grid;
  align-items: center;
  background-image: url("images/abstract.jpg");
  background-size: cover; }

.alert {
  position: absolute;
  left: 50%;
  padding: 1.5rem 10rem;
  transform: translateX(-50%);
  z-index: 100000;
  text-align: center;
  font-size: 2rem;
  color: red; }

.form {
  margin-top: 4rem;
  border: solid .2rem;
  padding: 3rem 5rem;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.4);
  width: 70%;
  background-color: white; }

.text-muted {
  font-size: 1rem;
  width: fit-content; }
  .text-muted h1 {
    display: inline;
    font-size: 1rem; }

@media only screen and (max-width: 75em) {
  .form {
    width: 100%; } }

.container {
  max-width: 100vw; }

.navbar {
  background-color: black; }

.nav-item {
  font-size: 1.5rem; }

.navbar-toggler:focus, .navbar-toggler:active {
  border: none;
  outline: none; }

.navbar-brand {
  font-size: 3rem;
  font-family: 'Chau Philomene One', sans-serif;
  word-spacing: 1rem; }
  .navbar-brand img {
    height: 3rem;
    width: 3rem;
    transform: translateX(1rem) translateY(-0.3rem); }

.land {
  height: 100vh;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center; }
  .land__page {
    justify-self: center;
    display: grid;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    margin-left: -4rem; }
    .land__page h1 {
      font-size: 5rem;
      word-spacing: 1rem;
      line-height: 230%; }
    .land__page h3 {
      justify-self: center;
      font-size: 3rem;
      word-spacing: 1rem;
      color: aquamarine; }
    .land__page button {
      margin-top: 5rem;
      width: 10rem;
      justify-self: center;
      padding: 1rem 5rem;
      width: fit-content;
      border-radius: 20rem;
      background-color: aquamarine;
      font-size: 2rem;
      color: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      box-shadow: -1rem 1rem 1.5rem rgba(0, 0, 0, 0.3);
      border: none;
      outline: none;
      transition: all .3s; }
      .land__page button:hover {
        transform: translateY(0.5rem) translateX(-0.5rem);
        box-shadow: -0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.3); }
      .land__page button:active {
        transform: translateY(1rem) translateX(-1rem);
        box-shadow: none; }
  .land--img {
    justify-self: start;
    height: 70%; }

@media only screen and (max-width: 75em) {
  .land--img {
    transform: translateX(-4rem); } }

@media only screen and (max-width: 56.25em) {
  .land {
    grid-template-columns: 100%; }
    .land__page {
      margin-left: 0rem; }
      .land__page h1 {
        padding-bottom: 4rem;
        font-size: 3rem;
        word-spacing: 1.5rem; }
  .land--img {
    display: none; } }
