*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden; }
  @media only screen and (max-width: 70em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

.books {
  margin-top: 5rem;
  height: 75vh;
  width: 90%; }
  .books__heading {
    font-size: 5rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    margin-bottom: 2rem;
    opacity: .7; }
    .books__heading span {
      color: blue; }
  .books__para {
    text-align: center;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Inter',sans-serif; }

.bbox {
  margin-top: 4rem;
  height: 55vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  align-items: center;
  justify-items: center;
  text-decoration: none; }
  .bbox__items {
    display: grid;
    justify-items: center;
    grid-template-rows: 70% 30%;
    height: 15rem;
    width: 20rem;
    align-items: center;
    text-decoration: none;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    grid-template-areas: 'img' 'name';
    transition: all .3s; }
    .bbox__items:hover {
      box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.4);
      transform: translateY(-1rem);
      text-decoration: none; }
    .bbox__items img {
      grid-area: img;
      width: 6rem;
      height: 6rem; }
    .bbox__items h3 {
      align-self: start;
      grid-area: name;
      font-size: 2.2rem;
      text-decoration: none;
      font-family: 'Inter',sans-serif;
      font-weight: 700;
      color: rgba(0, 0, 255, 0.8); }

.study {
  margin-top: 10rem; }
  .study__heading {
    font-size: 4rem;
    font-family: 'Inter',sans-serif;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.5);
    word-spacing: 1rem;
    text-align: center; }
    .study__heading span {
      color: rgba(0, 0, 255, 0.8); }
  .study__resource {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: grid;
    row-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-items: center; }
    .study__resource--box {
      display: grid;
      grid-template-rows: 80% 10%;
      justify-items: center;
      row-gap: 1rem; }
      .study__resource--box-img {
        height: 25rem;
        width: 22rem;
        border: 0.3rem solid #2998ff;
        position: relative;
        z-index: -1;
        transition: all .3s; }
      .study__resource--box-btn {
        border-radius: 5rem;
        border: 0.5rem solid #2998ff;
        font-size: 1.5rem;
        color: white;
        width: fit-content;
        height: fit-content;
        padding: .7rem 4rem;
        font-family: 'Inter',sans-serif;
        font-weight: 700;
        letter-spacing: 1rem;
        background: linear-gradient(to left, #7ed56f, #55c57a);
        transition: color .3s; }
        .study__resource--box-btn:active, .study__resource--box-btn:focus, .study__resource--box-btn:hover {
          outline: none;
          text-decoration: none; }
      .study__resource--box-down {
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .3s; }

@media only screen and (max-width: 70em) {
  .books {
    width: 100%;
    height: fit-content;
    margin-bottom: 3rem; }
  .bbox {
    row-gap: 2.5rem;
    height: fit-content; } }

@media only screen and (max-width: 29em) {
  .bbox__items {
    width: 30rem; } }

.button, .button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: black; }
  .button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.button:active, .button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.button--white {
  background-color: white;
  color: #fff;
  text-decoration: none; }
  .button--white::after {
    background-color: #55c57a; }

.button--green {
  background-color: #55c57a;
  color: #fff;
  text-decoration: none; }
  .button--green::after {
    background-color: #55c57a; }

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.chips {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-row: 1fr;
  grid-auto-rows: repeat(auto-fill, minmax(60rem, 1fr));
  align-items: center;
  justify-items: center;
  row-gap: 5rem;
  justify-content: space-around;
  grid-column: 1 / -1;
  position: relative;
  z-index: 0; }
  .chips__items {
    background-color: white;
    width: 90%;
    height: 15rem;
    border-radius: 0rem 5rem 5rem 0rem;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 40% 60%;
    transition: all .5s;
    align-items: center;
    justify-items: center; }
    .chips__items--img {
      grid-column: 1 / 2;
      width: 100%;
      height: 100%; }
    .chips__items h4 {
      justify-self: center;
      width: 85%;
      grid-column: 2 / -1;
      line-height: 140%;
      word-spacing: 1rem;
      text-align: center;
      font-size: 2rem; }
    .chips__items:hover {
      box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.5);
      transform: translateY(-0.5rem); }
  .chips__1 .chips__items--img {
    background-color: rgba(245, 180, 97, 0.8);
    position: relative; }
    .chips__1 .chips__items--img img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      transform: translate(-50%, -50%); }
  .chips__2 .chips__items--img {
    background-color: rgba(250, 127, 114, 0.8);
    position: relative; }
    .chips__2 .chips__items--img img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      transform: translate(-50%, -50%); }
  .chips__3 .chips__items--img {
    background-color: rgba(255, 239, 160, 0.8);
    position: relative; }
    .chips__3 .chips__items--img img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70%;
      transform: translate(-50%, -50%); }
  .chips__4 .chips__items--img {
    background-color: rgba(1, 197, 196, 0.8);
    position: relative; }
    .chips__4 .chips__items--img img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      transform: translate(-50%, -50%); }

@media only screen and (max-width: 76em) {
  .chips {
    column-gap: 15rem; } }

@media only screen and (max-width: 70em) {
  .chips {
    align-self: center;
    margin-top: 0rem;
    row-gap: 5rem;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    column-gap: 15rem; } }

.content-section {
  height: 100vh;
  display: grid;
  align-items: center;
  background-image: url("images/abstract.png");
  background-size: cover; }

.alert {
  position: relative;
  font-size: 3rem;
  font-family: 'saira','brosk';
  animation: moveDownShow 1s;
  text-align: center;
  margin: auto;
  word-spacing: 2rem;
  z-index: 100000000; }

.form {
  margin-top: 4rem;
  border: solid .2rem;
  padding: 3rem 5rem;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.4);
  width: 70%;
  background-color: white; }

.media {
  display: grid;
  align-items: center;
  position: relative;
  margin: 10rem auto;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem; }
  .media img {
    margin-left: 6rem;
    transform: scale(1.3); }

.form-control-file {
  background-color: pink;
  border-right: .2rem solid red;
  border-radius: 20rem; }

.btn {
  padding: .5rem 2.5rem; }

.c-color {
  height: 3rem;
  width: fit-content;
  border-radius: 20rem;
  transition: all .5s;
  border: .3rem solid white;
  cursor: pointer; }
  .c-color h5 {
    transform: translateY(0.2rem);
    transition: all 1s;
    padding: .15rem 2rem;
    color: white; }
  .c-color:hover {
    width: fit-content; }
    .c-color:hover h5 {
      padding: 0rem 4rem; }

.text-muted {
  font-size: 1rem;
  width: fit-content; }
  .text-muted h1 {
    display: inline;
    font-size: 1rem; }

@media only screen and (max-width: 70em) {
  .form {
    width: 100%; } }

@media only screen and (max-width: 37.5em) {
  .media {
    column-gap: 1rem; }
    .media img {
      transform: scale(1); } }

.navbar {
  background-color: transparent; }
  .navbar-toggler {
    color: black;
    border: 1rem solid #ff66cb; }
    .navbar-toggler-icon {
      color: black; }

.navbar-brand {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  color: #2998ff !important;
  font-size: 3rem; }

.navbar-nav {
  width: fit-content; }

.nav-link {
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500; }

.tutors {
  height: 80vh;
  margin-top: 10rem;
  margin-bottom: 5rem;
  width: 95vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }
  .tutors__heading {
    text-align: center;
    font-size: 5rem;
    font-family: 'Inter',sans-serif;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.6);
    word-spacing: 1rem; }
  .tutors__box {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    transform: translateY(5rem);
    align-items: center;
    justify-items: start;
    row-gap: 4rem;
    height: 60vh; }
    .tutors__box--holder {
      display: grid;
      grid-template-columns: 15rem 30rem;
      align-items: center;
      column-gap: 3rem; }
      .tutors__box--holder-img {
        width: 16rem;
        height: 16rem;
        border-radius: 50rem; }
      .tutors__box--holder-content {
        box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
        padding: 1rem 2rem;
        transition: all .3s; }
        .tutors__box--holder-content h2 {
          color: rgba(0, 0, 255, 0.7);
          font-family: 'Inter',sans-serif;
          font-weight: 900;
          font-size: 3rem; }
        .tutors__box--holder-content p {
          text-align: left;
          font-family: 'Inter',sans-serif;
          font-weight: 600;
          font-size: 1.7rem;
          color: rgba(0, 0, 0, 0.5); }
        .tutors__box--holder-content:hover {
          box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.4);
          transform: translateY(-2rem); }

@media only screen and (max-width: 76em) {
  .tutors {
    margin-top: 15rem;
    height: 60vh; }
    .tutors__box {
      height: 50vh; } }

@media only screen and (max-width: 70em) {
  .tutors {
    margin-top: 15rem;
    height: 40vh; }
    .tutors__box {
      height: 30vh; } }

@media only screen and (max-width: 56.25em) {
  .tutors {
    margin-top: 15rem;
    height: 60vh; }
    .tutors__box {
      grid-template-columns: 100%; }
      .tutors__box--holder {
        justify-self: center !important; } }

@media only screen and (max-width: 29em) {
  .tutors__box--holder {
    transform: scaleX(0.9); } }

.quries {
  transform: translateY(3rem); }

.questions {
  height: 100%;
  display: grid;
  justify-items: center; }

.display {
  width: 90%;
  height: 100vh;
  display: grid;
  grid-template-rows: 70% 15%;
  row-gap: 0rem;
  align-content: start; }
  .display__screen {
    justify-self: center;
    align-self: end;
    height: 85%;
    width: 90%;
    border: solid .2rem;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #5643fa, #d53a9d);
    background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.9), rgba(40, 180, 133, 0.9));
    overflow-y: scroll;
    float: left;
    font-size: 3rem;
    box-shadow: 0rem 0rem 2rem #5643fa;
    display: grid;
    row-gap: 3rem;
    color: white;
    grid-auto-rows: 30%; }
    .display__screen--box {
      margin-top: 2rem;
      height: fit-content;
      width: 40%;
      margin-left: 2rem;
      display: grid;
      margin-bottom: 2rem;
      border: solid 0.4rem rgba(255, 255, 255, 0.5); }
      .display__screen--box p {
        width: fit-content;
        font-size: 2rem;
        letter-spacing: 0rem;
        word-spacing: .5rem;
        font-family: 'Lobster', cursive;
        justify-self: center;
        text-align: center;
        opacity: .5; }
      .display__screen--box h5 {
        justify-self: end; }
  .display .send {
    transform: translateY(5rem);
    display: grid;
    justify-items: center;
    align-items: end;
    row-gap: 2rem; }
    .display .send textarea {
      border: solid .2rem;
      border-image-slice: 1;
      border-image-source: linear-gradient(to left, #5643fa, #d53a9d);
      width: 90%;
      font-size: 1.5rem;
      outline: none;
      box-shadow: 0rem 0rem 2rem #5643fa;
      overflow: hidden; }

@media only screen and (max-width: 56.25em) {
  .questions {
    grid-template-columns: 100%; }
    .questions img {
      display: none; } }

@media only screen and (max-width: 37.5em) {
  .display__screen--box {
    width: 60%; }
  .send button {
    padding: 1.5rem 10rem !important; } }

.landing {
  height: 140vh;
  display: grid;
  overflow: hidden;
  grid-template-columns: 45% 55%;
  grid-template-rows: 80% 20%;
  grid-template-areas: 'content video' 'chips chips';
  position: relative; }
  .landing__content {
    grid-area: content;
    display: grid;
    align-items: center;
    justify-items: center; }
    .landing__content--elements {
      display: grid;
      align-items: start;
      justify-items: center; }
      .landing__content--elements-text {
        text-align: center;
        line-height: 150%;
        font-family: 'Inter', sans-serif;
        font-weight: 900;
        color: rgba(0, 0, 0, 0.6);
        font-size: 5rem;
        width: 90%;
        word-spacing: 1rem; }
        .landing__content--elements-text span {
          color: rgba(41, 152, 255, 0.8); }
      .landing__content--elements-btn {
        justify-self: center;
        align-self: end;
        text-decoration: none;
        background-color: orangered;
        padding: 1.5rem 2rem;
        border-radius: 5rem;
        font-size: 1rem;
        color: white;
        margin-top: 2rem;
        box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.4);
        transition: all .3s; }
        .landing__content--elements-btn img {
          width: 2rem;
          height: 2rem;
          transform: translateY(-0.4rem); }
        .landing__content--elements-btn:hover {
          color: white;
          text-decoration: none;
          box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
          transform: translate(-0.3rem, 0.3rem); }
        .landing__content--elements-btn:active {
          box-shadow: none;
          transform: translate(-0.7rem, 0.7rem); }
  .landing__video {
    grid-area: video;
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative; }
    .landing__video--display {
      height: 36rem;
      width: 61rem;
      display: grid;
      align-items: center;
      justify-items: center;
      cursor: pointer;
      position: relative;
      border-radius: 5rem;
      background: linear-gradient(to left bottom, #d53a9d, #2998ff); }
      .landing__video--display-img {
        position: absolute;
        z-index: 1;
        opacity: .4; }
      .landing__video--display video {
        width: 95%;
        height: 87%; }
    .landing__video .chips {
      grid-area: chips; }

@media only screen and (max-width: 70em) {
  .landing {
    height: 130vh;
    margin-top: 7rem;
    grid-template-columns: 100%;
    grid-template-rows: 35% 35% 30%;
    grid-template-areas: 'video video' 'content content' 'chips chips';
    align-content: center;
    margin-bottom: 7rem; }
    .landing__content {
      align-self: center; }
      .landing__content--elements-text {
        font-size: 10rem; }
      .landing__content--elements-btn {
        padding: 2rem 3rem;
        font-size: 3rem; }
        .landing__content--elements-btn img {
          width: 4rem;
          height: 4rem; }
    .landing__video {
      align-self: end; }
      .landing__video--display {
        width: 90rem;
        height: 55rem; } }

@media only screen and (max-width: 76em) {
  .landing {
    height: 160vh;
    grid-template-rows: 60% 40%; } }

@media only screen and (max-width: 70em) {
  .landing {
    height: 120vh;
    grid-template-rows: 40% 40% 20%; } }

@media only screen and (max-width: 56.25em) {
  .landing {
    height: 130vh;
    grid-template-rows: 40% 40% 20%; }
    .landing__video {
      align-self: end; }
    .landing__content {
      align-self: center; }
      .landing__content--elements-text {
        font-size: 6rem; } }

@media only screen and (max-width: 37.5em) {
  .landing {
    height: 150vh;
    grid-template-rows: 30% 30% 40%; }
    .landing__video--display {
      width: 67rem;
      height: 40rem; } }

@media only screen and (max-width: 29em) {
  .landing {
    height: 200vh;
    grid-template-rows: 30% 20% 50%; }
    .landing__video {
      align-self: center;
      transform: translateY(3rem); }
      .landing__video--display {
        height: 30rem;
        width: 40rem; }
        .landing__video--display video {
          width: 35rem;
          height: 25rem;
          transform: scaleY(1.25); }
    .landing__content {
      align-self: start; }
      .landing__content--elements-text {
        font-size: 3.5rem; }
      .landing__content--elements-btn {
        padding: 2rem 3rem;
        font-size: 2rem; }
        .landing__content--elements-btn img {
          width: 4rem;
          height: 4rem; } }
