*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

@keyframes moveUpHide {
  0% {
    opacity: 1;
    transform: translateY(0rem); }
  100% {
    opacity: 0;
    transform: translateY(-4rem); } }

@keyframes moveUpShow {
  0% {
    opacity: 0;
    transform: translateY(8rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

@keyframes moveMoreUpShow {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  80% {
    transform: translateY(-5rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes moveDownShow {
  0% {
    opacity: 0;
    transform: translateY(-4rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

@keyframes moveMoreDownShow {
  0% {
    opacity: 0;
    transform: translateY(-20rem); }
  80% {
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveRightShow {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.button, .button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: black; }
  .button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.button:active, .button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.button--green {
  background-color: #55c57a;
  color: #fff;
  text-decoration: none; }
  .button--green::after {
    background-color: #55c57a; }

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.chips {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  column-gap: 2rem;
  justify-content: space-around;
  grid-column: 1 / -1; }
  .chips__items {
    width: 80%;
    height: 90%;
    background-color: red; }

.content-section {
  height: 100vh;
  display: grid;
  align-items: center;
  background-image: url("images/abstract.png");
  background-size: cover; }

.alert {
  position: relative;
  font-size: 3rem;
  font-family: 'saira','brosk';
  animation: moveDownShow 1s;
  text-align: center;
  margin: auto;
  word-spacing: 2rem;
  z-index: 100000000; }

.form {
  margin-top: 4rem;
  border: solid .2rem;
  padding: 3rem 5rem;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.4);
  width: 70%;
  background-color: white; }

.media {
  display: grid;
  align-items: center;
  position: relative;
  margin: 10rem auto;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem; }
  .media img {
    margin-left: 6rem;
    transform: scale(1.3); }

.form-control-file {
  background-color: pink;
  border-right: .2rem solid red;
  border-radius: 20rem; }

.btn {
  padding: .5rem 2.5rem; }

.c-color {
  height: 3rem;
  width: fit-content;
  border-radius: 20rem;
  transition: all .5s;
  border: .3rem solid white;
  cursor: pointer; }
  .c-color h5 {
    transform: translateY(0.2rem);
    transition: all 1s;
    padding: .15rem 2rem;
    color: white; }
  .c-color:hover {
    width: fit-content; }
    .c-color:hover h5 {
      padding: 0rem 4rem; }

.text-muted {
  font-size: 1rem;
  width: fit-content; }
  .text-muted h1 {
    display: inline;
    font-size: 1rem; }

@media only screen and (max-width: 75em) {
  .form {
    width: 100%; } }

@media only screen and (max-width: 37.5em) {
  .media {
    column-gap: 1rem; }
    .media img {
      transform: scale(1); } }

.navbar {
  background-color: transparent; }
  .navbar-toggler {
    color: black;
    border: 1rem solid #ff66cb; }
    .navbar-toggler-icon {
      color: black; }

.navbar-brand {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  color: #2998ff !important;
  font-size: 3rem; }

.navbar-nav {
  width: fit-content; }

.nav-link {
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500; }

.quries {
  transform: translateY(-3rem); }

.questions {
  height: 100%;
  display: grid;
  justify-items: center; }

.display {
  width: 90%;
  height: 100vh;
  display: grid;
  grid-template-rows: 70% 15%;
  row-gap: 0rem;
  align-content: start; }
  .display__screen {
    justify-self: center;
    align-self: end;
    height: 85%;
    width: 90%;
    border: solid .2rem;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #5643fa, #d53a9d);
    background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.9), rgba(40, 180, 133, 0.9));
    overflow-y: scroll;
    float: left;
    font-size: 3rem;
    box-shadow: 0rem 0rem 2rem #5643fa;
    display: grid;
    row-gap: 3rem;
    color: white;
    grid-auto-rows: 30%; }
    .display__screen--box {
      margin-top: 2rem;
      height: fit-content;
      width: 40%;
      margin-left: 2rem;
      display: grid;
      margin-bottom: 2rem;
      border: solid 0.4rem rgba(255, 255, 255, 0.5); }
      .display__screen--box p {
        width: fit-content;
        font-size: 2rem;
        letter-spacing: 0rem;
        word-spacing: .5rem;
        font-family: 'Lobster', cursive;
        justify-self: center;
        text-align: center;
        opacity: .5; }
      .display__screen--box h5 {
        justify-self: end; }
  .display .send {
    transform: translateY(5rem);
    display: grid;
    justify-items: center;
    align-items: end;
    row-gap: 2rem; }
    .display .send textarea {
      border: solid .2rem;
      border-image-slice: 1;
      border-image-source: linear-gradient(to left, #5643fa, #d53a9d);
      width: 90%;
      font-size: 1.5rem;
      outline: none;
      box-shadow: 0rem 0rem 2rem #5643fa;
      overflow: hidden; }

@media only screen and (max-width: 56.25em) {
  .questions {
    grid-template-columns: 100%; }
    .questions img {
      display: none; } }

@media only screen and (max-width: 37.5em) {
  .display__screen--box {
    width: 60%; }
  .send button {
    padding: 1.5rem 10rem !important; } }

.landing {
  height: 100vh;
  display: grid;
  overflow: hidden;
  grid-template-columns: 45% 55%;
  grid-template-rows: 80% 15%;
  grid-template-areas: 'content video' 'chips chips'; }
  .landing__content {
    grid-area: content;
    display: grid;
    align-items: center;
    justify-items: center; }
    .landing__content--elements {
      display: grid;
      align-items: start;
      justify-items: center; }
      .landing__content--elements-text {
        text-align: center;
        line-height: 150%;
        font-family: 'Inter', sans-serif;
        font-weight: 900;
        color: rgba(0, 0, 0, 0.6);
        font-size: 5rem;
        width: 90%;
        word-spacing: 1rem; }
        .landing__content--elements-text span {
          color: rgba(41, 152, 255, 0.8); }
      .landing__content--elements-btn {
        justify-self: center;
        align-self: end;
        text-decoration: none;
        background-color: orangered;
        padding: 1.5rem 2rem;
        border-radius: 5rem;
        font-size: 1rem;
        color: white;
        margin-top: 2rem;
        box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.4);
        transition: all .3s; }
        .landing__content--elements-btn img {
          width: 2rem;
          height: 2rem;
          transform: translateY(-0.4rem); }
        .landing__content--elements-btn:hover {
          color: white;
          text-decoration: none;
          box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
          transform: translate(-0.3rem, 0.3rem); }
        .landing__content--elements-btn:active {
          box-shadow: none;
          transform: translate(-0.7rem, 0.7rem); }
  .landing__video {
    grid-area: video;
    display: grid;
    align-items: center;
    justify-items: start;
    position: relative;
    height: 100%; }
    .landing__video--img1 {
      position: absolute;
      z-index: -10;
      transform: scale(1.6, 1.8) translateX(-5rem);
      opacity: .5;
      justify-self: start; }
    .landing__video--img2 {
      position: absolute;
      z-index: -10;
      transform: scale(1.6, 1.8) translateX(5rem);
      opacity: .5;
      align-self: end;
      justify-self: center; }
    .landing__video--display {
      height: 70%;
      width: 85%;
      background: linear-gradient(to left bottom, #d53a9d, #2998ff);
      backface-visibility: hidden;
      overflow: hidden;
      border-radius: 5rem;
      display: grid;
      align-items: center;
      justify-items: center;
      cursor: pointer;
      position: relative; }
      .landing__video--display-img {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        position: absolute;
        z-index: 1;
        opacity: .4; }
      .landing__video--display video {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        position: relative;
        width: 85%;
        height: 70%;
        backface-visibility: hidden;
        transform: scale(1.15, 1.05); }
  .landing__chips {
    grid-area: chips;
    display: grid; }

@media only screen and (max-width: 75em) {
  .landing__video {
    justify-items: center; }
    .landing__video--img1 {
      transform: scale(1.3, 1.5) translateX(-5rem); }
    .landing__video--img2 {
      transform: scale(1.3, 1.5) translateX(5rem); } }

@media only screen and (max-width: 56.25em) {
  .landing__video--img1 {
    align-self: start;
    transform: scale(1, 1) translateX(-5rem); }
  .landing__video--img2 {
    justify-self: center;
    align-self: end;
    transform: scale(1, 1) translateX(5rem); } }

@media only screen and (max-width: 37.5em) {
  .landing {
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    grid-template-areas: 'video video' 'content content'; }
    .landing__video--display {
      transform: scaleY(1.4) translateY(3rem); } }
